body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0E402D; /*British Racing Green*/
}

main {
  padding: 20px;
}
/* Logo */

.logo_img {
  float: left;
  display: block;
  max-width: 15%;
  height: auto;
}

/* Navigation styles */
.navbar {
  background-color: #71B01D; /*Apple Green*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.navbar:hover {
  background-color: #549108; /* Lighter shade of Apple Green */
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

/* Image Styles */

.img-thumbnail {
  border-radius: 50%;
}

form input,
form select,
form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Bootstrap classes for better alignment and spacing */
.form-group {
  margin-bottom: 15px;
}

/* Add some margin to the submit button */
form button[type="submit"] {
  margin-top: 10px;
}

/* Review Section */

.card-body {
  border: 1px solid #ddd; /* Add a border to each review card */
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Add some padding to the card body */
.card-body {
  padding: 15px;
}

/* Footer styles */
.footer {
  background-color: #D6A2AD; /* Puce */
  color: #fffcff; /* Snow */
}

/* Follow us icons */
.footer i {
  font-size: 24px;
  margin-right: 10px;
}

/* Active link style */
.nav-link.active {
  font-weight: bold;
  color: #A3E7FC; /* Photo Blue */
}

/* Button style */
.btn-signup {
  background-color: #A3E7FC; /* Photo Blue */
  color: #fffcff; /* Snow */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-signup:hover,
.btn-signup:active {
  background-color: #2980b9; /* Slightly darker shade of photo Blue */
  color: #fffcff; /* Snow */
}

/* Link style */
.link {
  color: #A3E7FC; /* Photo Blue */
  text-decoration: none;
}

.link:hover,
.link:active {
  color: #0E402D; /*British Racing Green*/
  text-decoration: none;
}

/* Social media icons in footer */
.footer i {
  font-size: 24px;
  margin-right: 10px;
}

/* Main background color */
.main-bg {
  background-color: #71B01D; /*Apple Green*/
}

/* Dark background color for the footer */
.dark-bg {
  background-color: #0E402D; /*British Racing Green*/
}
