body {
  background-color: #f5f8fa;
  font-family: "Montserrat", sans-serif; /* Updated font family */
}

/* TeacherProfile Styles */
.teacher-profile-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.teacher-profile-bio {
  color: #333333;
}

.teacher-profile-expertise {
  color: #3498db;
}

.teacher-profile-rate {
  color: #27ae60;
}

.teacher-profile-availability {
  color: #f39c12;
}

/* Student Styles */
.student-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.student-bio {
  color: #333333;
}

/* Review Styles */
.review-container {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-rating {
  color: #f39c12;
}

.review-comment {
  color: #333333;
}

.btn-signup:hover,
.btn-signup:active {
  background-color: #ffffff;
  color: #2ecc71;
}

.link {
  color: #3498db;
  text-decoration: none;
}

.link:hover,
.link:active {
  color: #34495e;
  text-decoration: underline;
}

.btn-like {
  color: #e74c3c;
  border: none;
  background: transparent;
}

.btn-like:hover,
.btn-like:active {
  color: #e74c3c;
  background: transparent;
  border: none;
}
