{% extends 'base.html' %} 
{% block content %}

<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="profile">{{ teacher.name }}</h1>
          <p class="profile-subtitle">{{ teacher.teacher_id }}</p>
          <div class="row">
            <div class="row-md-4">
              <img src="{{ teacher.profile_image.url }}" alt="{{ teacher.name }}'s Profile Image" class="img-thumbnail rounded-circle mb-3">
              <div class="text-center shadow-lg p-3 mb-2 rounded">
                <li class="list-group-item"><strong>Teacher Name:</strong> {{ teacher.name }}</li>
                <li class="list-group-item"><strong>Expertise:</strong> {{ teacher.expertise }}</li>
                <li class="list-group-item"><strong>Biography:</strong> {{ teacher.bio }}</li>
                <li class="list-group-item"><strong>Hourly Rate:</strong> €{{ teacher.hourly_rate }}</li>
                <li class="list-group-item"><strong>Availability:</strong> {{ teacher.availability }}</li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      {% if user.is_authenticated %}
        <div class="card">
          <div class="card-body">
            <h3>Make a Booking</h3>
            <p>Booking by: {{ user.username }}</p>
            <form method="post" action="" style="margin-top: 1.3em;">
              {{ booking_form }}
              {% csrf_token %}
              <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </form>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}