{% extends "base.html" %}
{% load static %}
{% block content %} 

<div class="container mt-3">
  <div class="row">
    {% for teacher in teacherprofiles %}
      <div class="col-12 col-md-6 mb-4">
        <div class="card">
          <img src="{{ teacher.profile_image.url }}" class="card-img-top" alt="{{ teacher.name }}'s Profile Image">
          <div class="card-body">
            <h5 class="card-title">{{ teacher.name }}</h5>
            <p class="card-text">{{ teacher.bio }}</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Teacher ID:</strong> {{ teacher.teacher_id }}</li>
              <li class="list-group-item"><strong>Expertise:</strong> {{ teacher.expertise }}</li>
              <li class="list-group-item"><strong>Hourly Rate:</strong> €{{ teacher.hourly_rate }}</li>
              <li class="list-group-item"><strong>Availability:</strong> {{ teacher.availability }}</li>
            </ul>
            <a href="{% url 'create_booking' teacher.teacher_id %}" class="btn btn-success mt-3">Book A Session</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}